.App {
  background-color: #fefae0;
}

@font-face {
  font-family: Brandey;
  src: url(./fonts/Brandey-Regular.ttf);
}
@font-face {
  font-family: Nunito;
  src: url(./fonts/Nunito-Regular.ttf);
}


#hoveranimation {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

#hoveranimation:hover {
  top: -10px;
  
}

#hoveranimation2 {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

#hoveranimation2:hover {
  top: 20px;
}